{{ define "main" }}
<content>

  <h1>Blog</h1>

  <p>Texto</p>

  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">A filtrar por "{{ .Title }}"</h3>
  <small>
    <a href="{{ "blog" | relURL }}">Remover filtro</a>
  </small>
  {{ end }}



  <ul class="blog-posts">
    {{ range .Pages }}
    <li>
      <span>
        <small>
          <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </small>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>
      No posts yet
    </li>
    {{ end }}
  </ul>
  {{ if .Data.Singular }}
  {{else}}

  <p>Texto</p>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    
    {{ end }}
</content>
{{ end }}
